<!DOCTYPE html>
<html>
<head>
    <title>changename</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
    <div class="header">
        <h1>修改设备名</h1>
    </div>
    <div class="container">
        <div >
            <form  action="" method="post">
				设备名:
				<input type="text"  name="name_cn" style ="width:500px;height:50px">
                <input type="submit" style ="width:100px;height:50px" value="修改">
            </form>
        </div>
    </div>
</body>
</html>