<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="static/css/index.css"/>
</head>
<body>
    <div class="header">
        <h1>Login</h1>
    </div>
    <div class="container">
        <div class="item">
            <form action="" method="post">
				username:
				<input type="text" name="username">
				<br />
				password:
				<input type="password" name="password">
                <input type="submit" value="Login"/>
            </form>
        </div>
    </div>
</body>
</html>